* {
  box-sizing: border-box; 
  margin-top: 0;    
}

body {
  line-height: 1.5;
  font-family: 'Assistant', sans-serif; 
}

.navbar {  
  border-right: 5px solid black;  
  position: fixed;
  min-width: 300px;  
  top: 0px;
  left: 0px;
  width: 300px; 
  height: 600px;
  display: block; 
}

nav header {   
  text-align: center;
  border-bottom: 1px solid #607673 ;
  padding-top: 15px;
  margin: 0;
  background-color: rgb(240, 245, 244 );
  font-size: 1.3em; 
}

.navbar ul {
  height: 67%;  
  margin: 0;
  padding: 0;
  overflow-y: auto;   
  overflow-x: hidden;
}

nav ul li {
  list-style: none;
  border-bottom: 1px solid #0a0a23;
  font-size: 20px;
  padding: 3px 5px;
  cursor: pointer;      
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:visited {
  color: black;
}

#main-doc a {
  color: #4d8a76;
  text-decoration: none;
}

#main-doc a:hover {
  color: #8ab5a7;
}

#main-doc { 
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

#main-doc header {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 10px;  
}

.code-container {   
  background-color: rgb(240, 245, 244 );
  padding: 20px;
  border-radius: 5px;
}


input[type=checkbox]{
 display: none;
}

.hamburger {
 display: none;
 font-size: 28px;
 user-select: none; 
}

@media(max-width: 768px) { 

  .menu { 
    display: none;
    position: absolute;
    background-color: rgb(240, 245, 244 );
    right: 0;
    left: 0;
    text-align: center;
    padding: 5px 0;         
  }

  .navbar {    
    width: 100%;
    height: 12%;
    justify-content: space-between;
    display: flex;
    border-right: none;
    border-bottom: 1px solid black;
    background-color: rgb(240, 245, 244);                   
  }

  nav header {
    border: none;   
    margin-left: 10px;
  }

  nav ul li {
    border-bottom: none;
    font-size: 14px;        
  }

 .navbar ul {
    overflow-y: hidden;  
  } 

 .menu li:hover {
    display: inline-block;
    background-color: #9fccbd;
    transition: 0.3s ease;
    width: 100%;    
    margin: 0;    
  }

 .menu li {  
    margin: 0;
  }

 input[type=checkbox]:checked ~ .menu {
   display: block;   
  }
 
 .hamburger {
  display: block;
  margin-right: 20px;
  padding-top: 10px;  
 }
  
 #main-doc {     
   margin: 0;
   padding-top: 80px;     
  }

  @media(max-width: 360px) {

    .navbar {
      padding: 0 2.3em;     
    }

    .navbar header {
      font-size: 1.2em;
      margin: 0;
    }

    .hamburger {
      font-size: 1.5em;
      margin: 0;     
    } 

  }

}
