*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
}

h2 {
  padding-bottom: 1em;
  padding-top: 1em;  
}

/* navbar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;   
  background-color: #e3c21b;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  z-index: 9999; 
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 20px;
  z-index: 9999;  
}

.menu li:hover { 
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: .2em .1em;  
}

#header-img {
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

li {
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  user-select: none;
  color: white;
}

/* Jumbotron */
.container {    
  padding: 15px;
  text-align: center; 
  margin-top: 160px;
}

.jumbotron {  
  background-image: url("https://github.com/jane0830/fcc-projects/blob/main/responsive-web-design-fcc/product-landing-page/assets/images/jumbotronBg.jpg?raw=true");
  background-size: cover;
  color: white;
}

.jumbotron h1 {  
  font-weight: 500px;
  color: white;
  font-size: 2.5em;
}

.jumbotron h4 {
  font-weight: 600px;
  background-color: #fa0aba;
  padding: 15px;
  border-radius: 3px;
  margin: 1em;
  opacity: 0.9;
}

.jumbotron input[type=email] {
  width: 20em;
  padding: .7em;
  margin-left: 1.5em;
  border: none;
  font-size: .8em;
}

.jumbotron #get_started {
  background-color: #04ba10;
  padding: .4em;
  color: white;   
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

/* Who we are section */
iframe {
  padding-top: 6.8em;
  border: none;
  margin: 0 auto;
  justify-items: center;
  width: 350px;
  height: 300px;   
}

/* grid */
.header {
  grid-area: header;
}

.content {
  grid-area: content;  
}

.ad {
  grid-area: ad;
}

.sidebar {
  grid-area: sidebar;
}

section {
  display: grid;
  gap: 20px;
  text-align: justify;
  padding: 2em;
}

#who_we_are { 
  grid-template-areas: "header  header ad"
                       "content content ad";  
}

#our_work {   
  grid-template-areas: "header header"
                       "sidebar content";
}

/* Our work */
.image-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 1rem;
  place-items: center;  
}

#our_work img {  
  max-width: 210px;
  max-height: 210px;  
}

figure {
  border: none;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 210px;
  margin: auto;
  background-color: #daf7f7;
 } 

figcaption {
  background-color: #ff12bc;
  color: #fff;
  font: italic bold 14px 'Quicksand', sans-serif;
  padding: 4px;
  text-align: center;  
}

/* Services section */
#services i {
  font-size: 3em;
  padding: 0 1em;
}

.services-wrapper { 
  margin: 0 auto;
  justify-content: center;
}

.list-wrapper {
  display: flex;  
  padding: 2em 3em;
}

.fa-heart {
  color: #f205af;
}

.fa-leaf {
  color: #02eb25;
}

.fa-certificate {
  color: #0286eb;
}

/* Contact us section */

#contact_us { 
  padding: 2em;
}

#form {
   background-color: #daf7f7;
   padding: 1.5em;   
   justify-content: center; 
}

fieldset, textarea {
  border: none;  
}

#submit {
  background-color: #06b8c4;
  border: none;
  font: bold 1.2em 'Quicksand', sans-serif; 
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  margin: 1em;
  color: white;
}

#contact_us .fa {
  padding-top: 15px;
  padding-right: 20px;  
}

.contact-icon-wrapper {
  display: flex;
  padding-right: 2em;  
  text-align: left;
}

.form-wrapper {
  display: inline-flex; 
  gap: 10px;
  padding: 4em;
  line-height: 3em;  
}

 .wrapper {
   text-align: left;
   padding-left: 2em;
 }

 .info-wrapper input {
   height: 2em;
 } 

.info-wrapper input, textarea {   
   border: none;      
 }

 /* Footer */

 footer {
   color: white;
   background-color:  #fa1995;
   height: 5em;
   text-align: center;
   padding: 1em 0;
   font-size: 1.3em;
   font-weight: bold;      
 }

 footer i {
   letter-spacing: 10px;
   padding-bottom: 1em;
 } 
 
/* Responsive */
@media only screen and (max-width: 700px) {

  /* navbar */
  .menu {
    display: none;
    position: absolute;
    background-color: #fa1995;
    text-align: center;
    padding: 20px 0;
    right: 0;
    left: 0;
    top: 100%;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #fc5db7;
    transition: 0.3s ease;
    width: 100%;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu{
    display: block;
  }

  .hamburger {
   display: block;
  }

  /* Jumbotron */

  .jumbotron input[type=email] {
    width: 15em;    
  }

  #who_we_are {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "content"
                         "ad";
  } 

  #our_work {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "content"
                         "sidebar";    
  }

  i {
    font-size: 1.3em;    
  }

  .form-wrapper {
    display: inline-block;
  }
 
}

@media only screen and (max-width: 600px) {
  body { 
    font-size: 1em;
  }

  #who_we_are {
    grid-template-columns: 1fr;
  }

  .jumbotron #get_started {
    font-size: 10px;   
    padding: 10px;
  }

  #our_work img {  
    max-width: 160px;
    max-height: 160px;
    width: 150px;
    height: 150px;  
  }

  figure {
    max-width: 160px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 0.9em;
  }

  #our_work img {
    width: 150px;
    height: 150px;
  }

  .jumbotron input[type=email] {
    width: 170px;    
  }

  .jumbotron #get_started {
    font-size: 9px;   
    padding: 10px;
    margin: 20px;    
  }

  #our_work img {  
    max-width: 110px;
    max-height: 110px;
    width: 100px;
    height: 100px;  
  }

  figure {
    max-width: 110px;
    font-size: 8px;    
  }
}
